@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;700&display=swap");

body {
  font-family: "Nunito Sans", sans-serif;
  background-image: url("./../images/composition.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#compteur {
  font-size: 10rem;
}
#message b {
  color: #ce0033;
}
#message {
  display: none;
  font-size: 2rem;
  max-width: 20%;
  margin-left: 20px;
  transform: rotate(-5deg);
}
